html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

.screen {
    display: flex;
    width: 100%;
    height: 50%;

}

iframe {
    margin-top: 10px;
}

h1 {
    font-family: fantasy;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.row {
    width: 100%;
}

.rect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#first {
    background-color: aqua;

}

#second {
    background-color: crimson;

}

#third {
    background-color: forestgreen;

}

#fourth {
    background-color: steelblue;

}